################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProyectoEstructuras/.vs/ProyectoEstructuras/v17/Browse.VC.opendb
/ProyectoEstructuras/.vs/ProyectoEstructuras/FileContentIndex/dca1cf72-aded-46cb-9f4c-ec64ce498e17.vsidx
/ProyectoEstructuras/.vs/ProyectoEstructuras/FileContentIndex/7ba9c5f4-e3bb-4bb2-8340-33d353d20712.vsidx
